

@media screen and (min-width:850px) {
    .imageMobile { display:none;}
}


@media screen and (max-width:430px) {
 main {max-height:fit-content;}
}
@media screen and (max-width:500px) {
    main {width:70vw; height: 95vh;
}
}

@media screen and (max-width:850px) {
    * {font-size:14px;}
    body {padding:0;}
    .imageDesktop {display:none;}

    main {display:grid;background-color: hsl(244, 38%, 16%);grid-template: 1fr 2fr/1fr;width:55vw; height: 85vh;}

    .imageMobile {grid-area:1/ 1/2/2;height:auto;width:100%;
    border-radius:10px 10px 0 0;}

    .card {padding:1rem;}
    .attribution {margin:5rem;}
}
