

@media screen and (min-width:850px) {
    .imageMobile { display:none;}
}

@media screen and (max-width:850px) {
    * {font-size:14px;}
    .imageDesktop {display:none;}
    
    main {display:grid;background-color: hsl(244, 38%, 16%);grid-template: 1fr 2fr/1fr;width:60vw; height: fit-content;
    max-width:80vw;}

    .imageMobile {grid-area:1/ 1/2/2;height:fit-content;width:100%; 
    border-radius:10px 10px 0 0;}

    .card {padding:1rem;}
    .attribution {margin:5rem;}
}

@media screen and (max-width:500px) { 
    #main {width:90vw; height: 100vh;
}
}